.grid {
  position: relative;
  bottom: 10px;
  display: grid;
  grid-template-columns: repeat(1fr);
  grid-auto-columns: 100px;
  grid-gap: 5px;
  color: rgb(224, 224, 224);
  justify-content: center;
}
